.implement-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  max-width: 500px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.title-container h2 {
  font-size: 24px;
  color: #333;
}

.title-container h3 {
  font-size: 16px;
  color: #aaa;
}

.message-container p {
  font-size: 18px;
  color: #555;
}
