.button {
  padding: 10px 20px;
  background-color: lightgreen;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 1;
}

.button:hover {
  background-color: green;
  opacity: 1;
}
@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
