body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color) !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary-bg-color: linear-gradient(180deg, #8AD6BA 0%, rgba(145, 224, 196, 0.96) 37.81%, rgba(111, 212, 175, 0.92) 100%);
  --primary-bg-color-counter: black;
  --primary-text-color: black;
  --placeholder-text-color:red;
  --card-background-color: rgba(206, 255, 232, 1);
  --border-color:rgba(255, 113, 82, 1);
  --button-hover-color:rgba(255, 113, 82, 1);
  --navbar-color: white;
  --navbar-icon-color:white;
  --scrollbar-thumb-color:orange;
}
[data-theme = "dark"]{
  --primary-bg-color: black;
  --primary-bg-color-counter: rgba(2, 119, 119, 1);
  --primary-text-color: white;
  --placeholder-text-color:red;
  --card-background-color:transparent;
    --border-color:rgba(255, 160, 209, 0.8);
    --button-hover-color:white;
    --navbar-color: #1d2b3a;
    --navbar-icon-color:grey;
    --scrollbar-thumb-color:white
}

::-webkit-scrollbar-thumb{
  background-color: var(--scrollbar-thumb-color);
  border-radius: 5px;
  width: 2px;
}

::-webkit-scrollbar{
  background: var(--primary-bg-color);
  width: 5px;
}
